h1 {
color: blue;
  font-weight: 800;
}
.background-image {
  background-image: url('https://t4.ftcdn.net/jpg/01/14/42/55/240_F_114425509_fU7nwEt4U2MyhNpAAsofdWX0niHS3VuZ.jpg');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image within the container */
}
