body {
 
        font-style: Merriweather;
}
label {
        color: blue;
        font-weight:  800;
        font-size: 25px;
}
button {
background-color: orange;
height:20px;
width: 100px;
        border-radius: 20px;
        position: relative;
        left: 100px;
        }
body {
background-color: red;
}
.header {
text-transorm: uppercase;
background-color: blue;
text-align: center;
background-image: url('https://t3.ftcdn.net/jpg/03/29/60/84/240_F_329608479_vP9nFK795X8lWmoTa8DPhMgoewQ7U1lG.jpg');
}
.container {
height: 100%;
width: 100vh;
background-color: #fff;
position: center;
}
.program {
color: black;
font-weight: 400;
font-size: 20px;
}
.Middle {
background-image: url('https://images.pexels.com/photos/4164772/pexels-photo-4164772.jpeg?auto=compress&cs=tinysrgb&w=600');
}
footer {
color: gray;
}
input {
	border-radius: 20px;
}

