.main-container {
	width: 500px;
	height: 300px;

.nav li {
  display: inline;
  text-decoration: none;
}
.images {
	width: 200px;
	height: 100px;
}
.images .image-cont {
	width: 33%;
	display: inline-block;
}

