header {
	position: fixed;
	display: inline-flex;
}
ul li {
	display: inline;
	text-align: right;
}
body {
	background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1p8cm7i*_ga*Nzk5MzM4NzcyLjE3MDYxMTc5NzE.*_ga_3LRZM6TM9L*MTcwOTM1ODY0MS45MC4xLjE3MDkzNjAxNjEuNjAuMC4w');
}
h2, h4 {
	display: block;
}
