h1 {
	color: midnightblue;
	background-color: aqua;
}
.visual {
	background-color: #8FBC8F;
}
.UX {
	background-color: #A0522D;
}
.responsive {
	background-color: #8B4513;
}
.interactive {
	background-color: #A52A2A;
}
