body {
	background-image: url('https://media.istockphoto.com/id/1346565144/photo/striving-to-achieve.jpg?s=1024x1024&w=is&k=20&c=oDp0eWUq8Qir--lI9FbCuESJoFpucKdM8_7rNde9bXk=');
display: grid;
grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
}
.button {
border-radius: 20px;
margin: 0;
background-color: orange;
color: black;
height: 40px;
width: 100px;
position: relative;
top: 500px;
right: 300px;
}

